.create-task-container {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  /* Card styles */
  .create-task-card {
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
;
  }

  .header-row {
    display: flex;
    align-items: center;
    gap: 40px; /* Space between button and title */
    margin-bottom: 10px; /* Space between header and the rest */
  }
  
  /* Back button */
  .back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 8px;
    width:30%;
    font-size: 30px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  /* Title styles */
  .create-task-title {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  /* Input group styles */
  .input-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
    box-sizing: border-box;
  }
  
  .input-group textarea {
    resize: none;
  }
  
  /* Submit button */
  .submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

.containerStyle {
    max-height: 80vh; /* Limits the height of the container */
    overflow-y: auto; /* Adds vertical scrolling */
    padding: 20px;
    box-sizing: border-box;
}

.cardStyle {
    width: 340px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #71717a; /* Zinc-500 */
    color: #fff;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.headerStyle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menuIconStyle {
    font-size: 20px;
    cursor: pointer;
}

.headingStyle {
    font-size: 18px;
    margin: 0;
    flex: 1;
}

.progressBarContainerStyle {
    margin-top: 20px;
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
}

.progressBarStyle {
    height: 100%;
    background-color: #4caf50;
}
